body {
    height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}
header {
    color: blueviolet;
    background-color: tomato;
}

body {
    color: blueviolet;
    background-color: tomato;
}